In [2]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
# use get_db_url function to connect to the codeup db
from env import get_db_url

# custom module imports
import acquire as aq

### 1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

In [3]:
df = aq.get_zillow_data()

In [15]:
df.head()

,parcelid,heatingorsystemtypeid,architecturalstyletypeid,id,airconditioningtypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,propertylandusetypeid,propertylandusedesc,architecturalstyledesc,heatingorsystemdesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc,logerror,transactiondate
0,14172985,6.0,7.0,2874473,1.0,None,2.5,4.0,None,None,...,261,Single Family Residential,Contemporary,Forced air,None,None,6.0,Frame,0.007491,2017-01-03
1,14081891,6.0,7.0,1935368,NaN,None,2.5,3.0,None,None,...,261,Single Family Residential,Contemporary,Forced air,None,None,6.0,Frame,0.011913,2017-01-03
2,14633780,6.0,8.0,803551,11.0,None,1.0,2.0,None,None,...,266,Condominium,Conventional,Forced air,None,None,6.0,Frame,0.067501,2017-01-04
3,14531476,18.0,7.0,1325329,11.0,None,2.0,2.0,None,None,...,261,Single Family Residential,Contemporary,Radiant,None,None,6.0,Frame,0.016042,2017-01-04
4,14663359,6.0,7.0,2101221,NaN,None,2.5,3.0,None,None,...,266,Condominium,Contemporary,Forced air,None,None,6.0,Frame,0.027668,2017-01-05

### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [4]:
aq.summarize(df)

----------------------
Dataframe head
   parcelid  heatingorsystemtypeid  architecturalstyletypeid       id  \
0  14172985                    6.0                       7.0  2874473
1  14081891                    6.0                       7.0  1935368
2  14633780                    6.0                       8.0   803551

   airconditioningtypeid basementsqft  bathroomcnt  bedroomcnt  \
0                    1.0         None          2.5         4.0
1                    NaN         None          2.5         3.0
2                   11.0         None          1.0         2.0

  buildingclasstypeid buildingqualitytypeid  ...  propertylandusetypeid  \
0                None                  None  ...                    261
1                None                  None  ...                    261
2                None                  None  ...                    266

         propertylandusedesc architecturalstyledesc  heatingorsystemdesc  \
0  Single Family Residential           Contemporary           Forced air
1  Single Family Residential           Contemporary           Forced air
2                Condominium           Conventional           Forced air

   storytypeid storydesc typeconstructiontypeid typeconstructiondesc  \
0         None      None                    6.0                Frame
1         None      None                    6.0                Frame
2         None      None                    6.0                Frame

   logerror  transactiondate
0  0.007491       2017-01-03
1  0.011913       2017-01-03
2  0.067501       2017-01-04

[3 rows x 69 columns]
----------------------
Dataframe Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      206 non-null    int64
 1   heatingorsystemtypeid         205 non-null    float64
 2   architecturalstyletypeid      206 non-null    float64
 3   id                            206 non-null    int64
 4   airconditioningtypeid         118 non-null    float64
 5   basementsqft                  0 non-null      object
 6   bathroomcnt                   206 non-null    float64
 7   bedroomcnt                    206 non-null    float64
 8   buildingclasstypeid           0 non-null      object
 9   buildingqualitytypeid         0 non-null      object
 10  calculatedbathnbr             206 non-null    float64
 11  decktypeid                    0 non-null      object
 12  finishedfloor1squarefeet      0 non-null      object
 13  calculatedfinishedsquarefeet  206 non-null    float64
 14  finishedsquarefeet12          206 non-null    float64
 15  finishedsquarefeet13          0 non-null      object
 16  finishedsquarefeet15          0 non-null      object
 17  finishedsquarefeet50          0 non-null      object
 18  finishedsquarefeet6           0 non-null      object
 19  fips                          206 non-null    float64
 20  fireplacecnt                  0 non-null      object
 21  fullbathcnt                   206 non-null    float64
 22  garagecarcnt                  206 non-null    float64
 23  garagetotalsqft               206 non-null    float64
 24  hashottuborspa                2 non-null      float64
 25  latitude                      206 non-null    float64
 26  longitude                     206 non-null    float64
 27  lotsizesquarefeet             68 non-null     float64
 28  poolcnt                       152 non-null    float64
 29  poolsizesum                   0 non-null      object
 30  pooltypeid10                  1 non-null      float64
 31  pooltypeid2                   1 non-null      float64
 32  pooltypeid7                   151 non-null    float64
 33  propertycountylandusecode     206 non-null    object
 34  propertylandusetypeid         206 non-null    float64
 35  propertyzoningdesc            0 non-null      object
 36  rawcensustractandblock        206 non-null    float64
 37  regionidcity                  204 non-null    float64
 38  regionidcounty                206 non-null    float64
 39  regionidneighborhood          22 non-null     float64
 40  regionidzip                   206 non-null    float64
 41  roomcnt                       206 non-null    float64
 42  storytypeid                   0 non-null      object
 43  threequarterbathnbr           98 non-null     float64
 44  typeconstructiontypeid        199 non-null    float64
 45  unitcnt                       0 non-null      object
 46  yardbuildingsqft17            0 non-null      object
 47  yardbuildingsqft26            0 non-null      object
 48  yearbuilt                     206 non-null    float64
 49  numberofstories               204 non-null    float64
 50  fireplaceflag                 112 non-null    float64
 51  structuretaxvaluedollarcnt    206 non-null    float64
 52  taxvaluedollarcnt             206 non-null    float64
 53  assessmentyear                206 non-null    float64
 54  landtaxvaluedollarcnt         206 non-null    float64
 55  taxamount                     206 non-null    float64
 56  taxdelinquencyflag            1 non-null      object
 57  taxdelinquencyyear            1 non-null      float64
 58  censustractandblock           206 non-null    float64
 59  propertylandusetypeid         206 non-null    int64
 60  propertylandusedesc           206 non-null    object
 61  architecturalstyledesc        206 non-null    object
 62  heatingorsystemdesc           205 non-null    object
 63  storytypeid                   0 non-null      object
 64  storydesc                     0 non-null      object
 65  typeconstructiontypeid        199 non-null    float64
 66  typeconstructiondesc          199 non-null    object
 67  logerror                      206 non-null    float64
 68  transactiondate               206 non-null    object
dtypes: float64(41), int64(3), object(25)
memory usage: 111.2+ KB
None
----------------------
Dataframe Description
           parcelid  heatingorsystemtypeid  architecturalstyletypeid  \
count  2.060000e+02             205.000000                206.000000
mean   1.450946e+07               6.687805                  7.388350
std    2.254466e+05               3.112293                  2.734542
min    1.385184e+07               1.000000                  2.000000
25%    1.442914e+07               6.000000                  7.000000
50%    1.461289e+07               6.000000                  7.000000
75%    1.466236e+07               6.000000                  7.000000
max    1.468785e+07              24.000000                 21.000000

                 id  airconditioningtypeid  bathroomcnt  bedroomcnt  \
count  2.060000e+02             118.000000   206.000000  206.000000
mean   1.501284e+06               3.118644     1.883495    2.368932
std    8.998013e+05               4.153403     0.548630    0.758565
min    4.267100e+04               1.000000     1.000000    1.000000
25%    6.316390e+05               1.000000     1.500000    2.000000
50%    1.534230e+06               1.000000     2.000000    2.000000
75%    2.246540e+06               1.000000     2.500000    3.000000
max    2.949549e+06              13.000000     3.500000    5.000000

       calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12  \
count         206.000000                    206.000000            206.000000
mean            1.883495                   1257.859223           1257.859223
std             0.548630                    350.040213            350.040213
min             1.000000                    660.000000            660.000000
25%             1.500000                    990.500000            990.500000
50%             2.000000                   1216.000000           1216.000000
75%             2.500000                   1481.750000           1481.750000
max             3.500000                   2838.000000           2838.000000

       ...  structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count  ...                  206.000000       2.060000e+02           206.0
mean   ...                96625.262136       3.224846e+05          2016.0
std    ...                43134.065874       1.831610e+05             0.0
min    ...                39311.000000       5.346200e+04          2016.0
25%    ...                66037.250000       1.900805e+05          2016.0
50%    ...                84401.000000       2.828895e+05          2016.0
75%    ...               115203.000000       4.005155e+05          2016.0
max    ...               324510.000000       1.229000e+06          2016.0

       landtaxvaluedollarcnt     taxamount  taxdelinquencyyear  \
count           2.060000e+02    206.000000                 1.0
mean            2.258593e+05   3703.630194                15.0
std             1.594743e+05   1945.778968                 NaN
min             1.415100e+04    652.300000                15.0
25%             1.085990e+05   2360.835000                15.0
50%             2.015415e+05   3210.300000                15.0
75%             2.912195e+05   4536.095000                15.0
max             1.129000e+06  12903.240000                15.0

       censustractandblock  propertylandusetypeid  typeconstructiontypeid  \
count         2.060000e+02             206.000000              199.000000
mean          6.059059e+13             264.300971                6.020101
std           3.063195e+08               2.373985                0.283552
min           6.059001e+13             261.000000                6.000000
25%           6.059035e+13             261.000000                6.000000
50%           6.059063e+13             266.000000                6.000000
75%           6.059076e+13             266.000000                6.000000
max           6.059111e+13             266.000000               10.000000

         logerror
count  206.000000
mean     0.022962
std      0.096627
min     -0.280466
25%     -0.012753
50%      0.009743
75%      0.035073
max      0.968414

[8 rows x 44 columns]
----------------------

AttributeError: 'DataFrame' object has no attribute 'dtype'

### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [75]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 
                                 'percent_rows_missing': prcnt_miss})
    return cols_missing

In [91]:
nulls_by_col(df)

                          num_rows_missing  percent_rows_missing
parcelid                                 0              0.000000
heatingorsystemtypeid                    1              0.485437
architecturalstyletypeid                 0              0.000000
id                                       0              0.000000
airconditioningtypeid                   88             42.718447
...                                    ...                   ...
storydesc                              206            100.000000
typeconstructiontypeid                   7              3.398058
typeconstructiondesc                     7              3.398058
logerror                                 0              0.000000
transactiondate                          0              0.000000

[69 rows x 2 columns]

### 4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [30]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis = 1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 
                                 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'index': 'num_rows'}).reset_index().set_index('num_cols_missing')
    return rows_missing

In [90]:
nulls_by_row(df)

                 percent_cols_missing  num_rows
num_cols_missing
23                  33.33333333333333         2
24                  34.78260869565217        11
25                 36.231884057971016        32
26                  37.68115942028986        61
27                 39.130434782608695        57
28                  40.57971014492754        23
29                 42.028985507246375         9
30                  43.47826086956522         5
31                 44.927536231884055         3
32                   46.3768115942029         2
33                  47.82608695652174         1

## Prepare

### 1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [50]:
df.head()

,parcelid,heatingorsystemtypeid,architecturalstyletypeid,id,airconditioningtypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,propertylandusetypeid,propertylandusedesc,architecturalstyledesc,heatingorsystemdesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc,logerror,transactiondate
0,14172985,6.0,7.0,2874473,1.0,None,2.5,4.0,None,None,...,261,Single Family Residential,Contemporary,Forced air,None,None,6.0,Frame,0.007491,2017-01-03
1,14081891,6.0,7.0,1935368,NaN,None,2.5,3.0,None,None,...,261,Single Family Residential,Contemporary,Forced air,None,None,6.0,Frame,0.011913,2017-01-03
2,14633780,6.0,8.0,803551,11.0,None,1.0,2.0,None,None,...,266,Condominium,Conventional,Forced air,None,None,6.0,Frame,0.067501,2017-01-04
3,14531476,18.0,7.0,1325329,11.0,None,2.0,2.0,None,None,...,261,Single Family Residential,Contemporary,Radiant,None,None,6.0,Frame,0.016042,2017-01-04
4,14663359,6.0,7.0,2101221,NaN,None,2.5,3.0,None,None,...,266,Condominium,Contemporary,Forced air,None,None,6.0,Frame,0.027668,2017-01-05

In [51]:
df[(df.bedroomcnt > 2) & (df.bathroomcnt> 1.5)]

,parcelid,heatingorsystemtypeid,architecturalstyletypeid,id,airconditioningtypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,propertylandusetypeid,propertylandusedesc,architecturalstyledesc,heatingorsystemdesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc,logerror,transactiondate
0,14172985,6.0,7.0,2874473,1.0,None,2.5,4.0,None,None,...,261,Single Family Residential,Contemporary,Forced air,None,None,6.0,Frame,0.007491,2017-01-03
1,14081891,6.0,7.0,1935368,NaN,None,2.5,3.0,None,None,...,261,Single Family Residential,Contemporary,Forced air,None,None,6.0,Frame,0.011913,2017-01-03
4,14663359,6.0,7.0,2101221,NaN,None,2.5,3.0,None,None,...,266,Condominium,Contemporary,Forced air,None,None,6.0,Frame,0.027668,2017-01-05
6,14687147,NaN,8.0,1833183,NaN,None,2.5,3.0,None,None,...,266,Condominium,Conventional,None,None,None,6.0,Frame,0.067520,2017-01-05
8,14656443,1.0,7.0,2563124,NaN,None,2.0,3.0,None,None,...,266,Condominium,Contemporary,Baseboard,None,None,6.0,Frame,0.153751,2017-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,14656461,6.0,7.0,833461,NaN,None,2.5,3.0,None,None,...,266,Condominium,Contemporary,Forced air,None,None,6.0,Frame,0.081789,2017-08-30
193,14487731,6.0,7.0,2696785,13.0,None,2.0,3.0,None,None,...,261,Single Family Residential,Contemporary,Forced air,None,None,6.0,Frame,-0.045950,2017-08-31
198,14669224,6.0,7.0,863387,NaN,None,2.5,3.0,None,None,...,266,Condominium,Contemporary,Forced air,None,None,6.0,Frame,-0.004824,2017-09-01
201,14650994,6.0,7.0,2518405,NaN,None,2.5,3.0,None,None,...,266,Condominium,Contemporary,Forced air,None,None,6.0,Frame,0.070490,2017-09-07
203,14669253,6.0,7.0,2384363,NaN,None,2.5,3.0,None,None,...,266,Condominium,Contemporary,Forced air,None,None,6.0,Frame,0.064234,2017-09-13

In [58]:
df.propertylandusedesc[df.bedroomcnt == df.bedroomcnt.max()]

97    Single Family Residential
Name: propertylandusedesc, dtype: object

In [59]:
df.propertylandusedesc[df.bedroomcnt == df.bedroomcnt.min()]

16                   Condominium
26                   Condominium
28     Single Family Residential
38     Single Family Residential
49                   Condominium
50                   Condominium
54                   Condominium
59                   Condominium
63                   Condominium
77                   Condominium
88                   Condominium
100                  Condominium
130                  Condominium
140                  Condominium
143    Single Family Residential
153                  Condominium
169    Single Family Residential
195                  Condominium
196                  Condominium
204    Single Family Residential
Name: propertylandusedesc, dtype: object

In [60]:
df.bedroomcnt.min()

1.0

### 2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

In [92]:
def remove_columns(df, cols_to_remove):
    df = df.drop(columns=cols_to_remove)
    return df
                 
                 
def handle_missing_values(df, prop_required_column=0.5 , prop_required_row=0.75):
    threshold = int(round(prop_required_column * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)
    return df

# combined in one function
def data_prep(df, cols_to_remove=[], prop_required_column=0.5, prop_required_row=0.75):
    df = remove_columns(df, cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df